<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1"/>
    <httpRuntime targetFramework="4.7.1"/>
  </system.web>
  <connectionStrings>
    <!--Este es el string de conexion bases de datos local-->
    <!--CONEXION REMOTA-->
    <!--<add name="bdConnection" connectionString="Data Source=sql5035.smarterasp.net;Initial Catalog=DB_A25643_hpsc;User ID=DB_A25643_hpsc_admin;Password=hpsc1234"/> -->
    <!--CONEXION LOCAL LAPTOP LUIS-->
    <!-- <add name="bdConnection" connectionString="Data Source=LUISALEJANDROPE\SQLEXPRESS;Initial Catalog=MTGROUPDATABASE;Integrated Security=True"/>-->
    <!--CONEXION LOCAL ALL IN ONE-->
    <add name="bdConnection" connectionString="Data Source=LAPGROCK\SQLEXPRESS;Initial Catalog=MTGROUPDATABASE;Integrated Security=True"/>
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
